@page "/nav"
@using Microsoft.AspNetCore.Authorization
@inject DepartmentState departmentState

<AuthorizeView>
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    Hola, @context.User.Identity!.Name
                </a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="nav-scrollable" style="display:@(collapseNavMenu ? "none" : "block");">
            <nav class="flex-column">
                <!-- Home -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2 gap-1" href="/home/dashboard">
                        <span class="bi bi-house-door-fill fs-4 text-center" aria-hidden="true"></span> Home
                    </NavLink>
                </div>

                <!-- Administration -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" @onclick="ShowAdminMenuContainer" style="cursor:pointer;" href="javascript:void()">
                        <div class="hstack gap-1">
                            <span class="bi bi-person-fill fs-3 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                            <span>Administration</span>
                        </div>
                    </NavLink>
                    <div class="nav-link p-2 text-white" style="margin-left:5rem; display:@(ShowHide ? "block" : "none");">
                        <div class="d-flex align-items-center">
                            <span class="bi bi-people fs-5 me-2" aria-hidden="true"></span>
                            <span>Users</span>
                        </div>
                    </div>
                </div>

                <!-- Department -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" @onclick="ShowDepartmentContainer" style="cursor:pointer;" href="javascript:void()">
                        <div class="hstack gap-1">
                            <span class="bi bi-backpack4-fill fs-3 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                            <span>Department</span>
                        </div>
                    </NavLink>
                    <div class="nav-link p-2 text-white" style="margin-left:3rem; display:@(ShowHideDepartment ? "block" : "none");">
                        <ul class="list-group">
                            <li style="list-style:none; cursor:pointer;">
                                <a class="nav-link p-2" @onclick="GeneralDepartmentClicked">
                                    <div class="d-flex align-items-center">
                                        <span class="bi bi-file-medical fs-5 me-2" aria-hidden="true"></span>
                                        <span>General</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none" class="cursorStyle">
                                <a class="nav-link p-2">
                                    <div class="d-flex align-items-center">
                                        <span class="bi bi-substack fs-5 me-2" aria-hidden="true"></span>
                                        <span>Department</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none" class="cursorStyle">
                                <a class="nav-link p-2">
                                    <div class="d-flex align-items-center">
                                        <span class="bi bi-substack fs-5 me-2" aria-hidden="true"></span>
                                        <span>Branch</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none;">
                                <hr />
                            </li>
                            <li style="list-style:none" class="cursorStyle">
                                <a class="nav-link p-2">
                                    <div class="d-flex align-items-center">
                                        <span class="bi bi-substack fs-5 me-2" aria-hidden="true"></span>
                                        <span>Country</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </Authorized>
    <NotAuthorized>
        <!-- CRUD Público -->
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2 gap-1" href="/crud">
                <span class="bi bi-table fs-4 text-center" aria-hidden="true"></span> CRUD
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>




@code {

    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public string DepartmentMargin { get; set; } = "-3.5rem";
    public bool ShowHide { get; set; } = false;
    private string CssStyle = "hidden";

    private void ShowAdminMenuContainer()
    {
        ShowHide = !ShowHide;
        CssStyle = ShowHide ? "visible" : "hidden";
    }

    private string DepartmentCssStyle = "hidden";
    public bool ShowHideDepartment { get; set; } = false;

    private void ShowDepartmentContainer()
    {
        ShowHideDepartment = !ShowHideDepartment;
        DepartmentCssStyle = ShowHideDepartment ? "visible" : "hidden";
    }

    void GeneralDepartmentClicked()
    {
        departmentState.GeneralDepartmentClicked();
    }


}
